.App {  
  margin-top: 30px;
  margin-left: 20px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.game-container {
  position: absolute;  
}

.block {
  height: 50px;
  width: 70px;
  margin: 0.5px;
  text-align: center;
  border: 1px solid;
  position: relative;
  display: inline-block;
}

.block .content {
  position: relative;
  top: 30%;
  font-weight: bold;
}

.block .ladder {
  position: absolute;
  bottom: 0px;
  right: -1px;
  display: inline-block;
  border-top: 1px solid;
  border-left: 1px solid;
  border-radius: 5px;
  color: white;
  background: brown;
  font-size: 14px;
}


.block .snake {
  position: absolute;
  bottom: 0px;
  right: -1px;
  display: inline-block;
  border-top: 1px solid;
  border-left: 1px solid;
  border-radius: 5px;
  color: white;
  background: violet;
  font-size: 14px;
}


.teamBlock {
  height: 100%;
  position: absolute;
}


.dice-container {
  position: absolute;
  right: 100px;
  top: 100px;
}

.dice-container .block {
  height: 200px;
  width: 200px;
}

.dice-container .block .content {
  font-size: 100px;
  top: 40px;
}

.dice-container .roll-container {
  position: relative;
  top: 20px;
  text-align: center;
}

.dice-container .roll-button {
  height: 30px;
  width: 100px;
  background: #ddd;
  cursor: pointer;
  border: 1px solid #ddd;  
}

.dice-container .disabled-roll-button {  
  pointer-events: none;
  display: none;
}

.team-container {
  position: absolute;
  right: 85px;
  top: 50px;  
  text-align: center
}

.team-container .team-block-type {
  height: 20px;
  width: 20px;
  display: inline-block;
}

.team-container .team-display {
  font-weight: bold;
  font-size: 20px;
}